<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>vue-ssr</title>
</head>
<body>
  <!--vue-ssr-outlet-->
  <script src="<%= htmlWebpackPlugin.options.client %>"></script>
</body>
</html>