<template>
  <div>
    Bar
    <button @click="show">显示弹窗</button>
  </div>
</template>

<script>
export default {
  methods: {
    show () {
      console.log(1);
    }
  }
}
</script>

<style>

</style>