<template>
  <div class="">
    Foo, {{username}}
  </div>
</template>

<script>
export default {
  asyncData(store) {
    /**
     * 1. 必须放在页面级组件使用(即通过router-view)
     * 2. 这个方法必须返回一个promise
    */
    return store.dispatch('changeName')
  },
  computed: {
    username() {
      return this.$store.state.username
    }
  }
  // mounted() {
  //   this.$store.dispatch('changeName');
  // }
}
</script>

<style scoped>
div{
  background: red;
}
</style>