<template>
  <div id="app">
    <!-- 客户端渲染(只有首屏是服务端渲染) -->
    <router-link to="/">Foo</router-link>
    <router-link to="/bar">Bar</router-link>
    <!-- 服务端渲染 -->
    <a href="/bar">服务端渲染</a>
    <router-view></router-view>
  </div>
</template>

<script>
import Bar from './components/Bar.vue';
import Foo from './components/Foo.vue';
export default {
  components: {
    Bar,
    Foo
  }
}
</script>

<style>

</style>